{% extends 'base.html' %}

{% block title %}Searched For .. {{query}}{% endblock title %}

{% block body %}

<section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        {% if prod|length < 1 %}
        <h2>OOPS , NOTHING TO SHOWUP ON {{query}}</h2>
        {% else %}
        <h2>
           Matched With :  {{query}}
        </h2>
        
        {% endif %}
      </div>
      
      <div class="row">{% for product in prod %}
        <div class="col-sm-6 col-lg-4">
          
          <div class="box">
            <a href ='{% url "details" product.pk %}'>
              <div class="img-box">
              <img src={{product.image.url}} alt="">
            </div>
            <div class="detail-box">
              <h5>
                {{product.name}}</a>
              </h5>
              <div class="product_info">
                <h5>
                  <span>Rs. </span> {{product.price}}
                </h5>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
            </div>
            </div>
        </div>
        </div>
 {% endfor %} 
  </div>
    </div>
  </section>






{% endblock body %}




{% block footer %}{% endblock footer %}